@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,500;1,600&display=swap");
*, *::after, *::before {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
}

body {
  color: #2C3648;
  line-height: 1;
}

a {
  color: inherit;
}

input[type=button] {
  cursor: pointer;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #2c3648;
  height: 100%;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn__blue {
  padding: 0.5rem 1rem;
  background: #4fb4ff;
}

.input__blue {
  border: 1px solid #4fb4ff;
  padding: 0.625rem;
  font-size: 0.75rem;
}

.img {
  position: relative;
}

.img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(79, 179, 255, 0.25);
}

::-webkit-scrollbar-thumb {
  background: rgba(79, 179, 255, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(79, 179, 255, 0.6);
}

.wrap {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-inup {
  line-height: 1.6;
  color: #062944;
  background: #9cd4ff;
  padding: 0.5rem 0;
  font-size: 0.75rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.popup-inup.hide {
  opacity: 0%;
  visibility: hidden;
}

.popup-inup__body {
  position: relative;
}

.popup-inup__text {
  padding: 0 1.56rem 0 0;
  text-align: center;
}

.popup-inup__cross {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

.popup-inup__cross img {
  width: 0.9rem;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header.hide {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.56rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__basket-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__basket {
  margin: 0 20px 0 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@media (max-width: 684px) {
  .header__basket {
    display: none;
  }
}

.header__basket-counter {
  color: #fff;
  background: #ff4f5c;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  top: 0;
  right: 0;
  -webkit-transform: translate(30%, -30%);
          transform: translate(30%, -30%);
}

.header__basket-counter.hide {
  display: none;
}

.header__account {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.search__form {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media (max-width: 684px) {
  .search__form {
    display: none;
  }
}

.search__form.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}

.search__form.show .search__btn {
  border-radius: 0;
}

.search__form.show .search__input {
  border-radius: 0;
  background: #fff;
}

.search__form.show .search__back {
  display: block;
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  opacity: 50%;
  height: 100%;
  width: 100%;
  background: #000;
}

.search__back {
  display: none;
}

.search__icon {
  width: 1rem;
  height: 1rem;
  margin: 0 15px 0 0;
}

@media (min-width: 685px) {
  .search__icon {
    display: none;
  }
}

.search__btn {
  color: #fff;
  font-weight: 600;
  border-radius: 0 100px 100px 0;
}

.search__input {
  color: #2c3648;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 100px 0 0 100px;
}

.category {
  background: #4fb4ff;
  color: #fff;
  font-size: 1rem;
}

.category__burger {
  width: 16px;
  height: 10px;
  cursor: pointer;
}

.category__burger-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (min-width: 685px) {
  .category__burger-flex {
    display: none;
  }
}

.category__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category__all {
  padding: 8px 0;
}

@media (min-width: 685px) {
  .category__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 12px;
    background: #0193ff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.category__all-img {
  margin: 0 15px 0 0;
  width: 22px;
  height: 12px;
}

@media (max-width: 684px) {
  .category__all-img {
    display: none;
  }
}

.category__nav {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 684px) {
  .category__nav {
    display: none;
  }
}

.category__item {
  padding: 12px 10px;
}

.burger {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 100%;
  background: #0193ff;
  font-size: 1.4rem;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0%;
}

.burger__btn {
  height: 10px;
  width: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.burger__btn > div:nth-child(2) {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
}

.burger__btn > div:nth-child(1) {
  top: 0;
}

.burger__btn > div:nth-child(3) {
  bottom: 0;
}

.burger__btn > div {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: rotate(0);
          transform: rotate(0);
  border-radius: 50px;
  background: #fff;
  height: 16%;
  width: 100%;
}

.burger__btn.show {
  position: absolute;
  z-index: 11;
  top: 15px;
  right: 15px;
}

.burger__btn.show > div {
  height: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.burger__btn.show > div:nth-child(2) {
  opacity: 0%;
}

.burger__btn.show > div:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__btn.show > div:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger__item {
  text-align: center;
  margin: 0 0 15px 0;
  cursor: pointer;
}

.burger__item:last-child {
  margin: 0;
}

.burger.show {
  visibility: visible;
  opacity: 100%;
}

.footer {
  background: #2C3648;
  color: #fff;
  line-height: 1.25;
}

.footer__body {
  padding: 10px 0;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 200px;
          flex: 0 2 200px;
  margin: 20px 0;
}

.footer__title {
  font-weight: 600;
  letter-spacing: 0.06rem;
  font-size: 1.5rem;
  margin: 0 0 15px 0;
}

.footer__subtitle {
  font-size: 1.125rem;
  color: #ACACAC;
}

.footer__column {
  font-size: 1.125rem;
  margin: 20px;
}

.footer__section {
  font-weight: 600;
  margin: 0 0 15px 0;
}

.footer__section-plus {
  display: none;
}

.footer__item {
  margin: 0 0 5px 0;
}

.footer__item:last-child {
  margin: 0;
}

@media (max-width: 830px) {
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .footer__column {
    margin: 0;
  }
  .footer__column.show .footer__section {
    border-bottom: 0;
  }
  .footer__column.show .footer__section-plus {
    -webkit-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
  }
  .footer__column.show .footer__nav {
    display: block;
  }
  .footer__nav {
    margin: 0 0 20px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: none;
  }
  .footer__section {
    cursor: pointer;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #fff;
    position: relative;
  }
  .footer__section-plus {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
